@page "/characters/all"
@inject ApiService ApiService
@inject HttpClient Http
<PageTitle>Characters</PageTitle>


@if (characters == null)
{
	<p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Health</th>
                <th>Strength</th>
                <th>Defense</th>
                <th>Intelligence</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in characters)
            {
                <tr>
                    <td>@character.Id</td>
                    <td>@character.Name</td>
                    <td>@character.HitPoints</td>
                    <td>@character.Strength</td>
                    <td>@character.Defense</td>
                    <td>@character.Intelligence</td>
                    <td>@character.Class</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
	private List<Character>? characters;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			characters = await ApiService.GetAllCharacters();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
		finally
		{
			StateHasChanged();
		}
	}
}
